[submodule "debian-base/config/nvim"]
	path = debian-base/config/nvim
	url = https://github.com/nielass/NvimConfig.git
[submodule "rtabmap/config/nvim"]
	path = rtabmap/config/nvim
	url = https://github.com/nielass/NvimConfig.git
