---
BasedOnStyle:  Google
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowAllArgumentsOnNextLine: true
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit:     80
AccessModifierOffset: -2
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth:     4
ReflowComments:  false
